.todotable {
  height: auto;
  width: 270px;
  background-color: #ebecf0;
  margin-top: 90px;
  margin-left: 10px;
  padding: 10px 5px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todotableee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todotable_title {
  width: 245px;
  margin-left: 10px;
  color: #2c3e5d;
  display: flex;
  justify-content: space-between;
}

.todotable_title p {
  font-weight: 600;
  font-size: 15px;
}

.menu_icon {
  height: 30px;
  width: 30px;
  color: rgb(122, 122, 122);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_icon:hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
  color: #2c3e5d;
}

.todo {
  min-height: 35px;
  height: auto;
  width: 250px;
  background-color: white;
  color: rgb(71, 71, 71);
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 4px;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.todo p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table_bottom {
  display: flex;
}

.addtodobutton {
  height: 30px;
  width: 215px;
  border-radius: 4px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: rgb(94, 93, 93);
}

.addtodobutton:hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

.addtodobutton p {
  margin-top: 15px;
  margin-left: 5px;
}

.bottom_icon {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(94, 93, 93);
}

.bottom_icon:hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

.table_input {
  height: 120px;
  width: 260px;
  background-color: #ebecf0;
  color: white;
  border-radius: 4px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputfield {
  height: auto;
  width: 250px;
  outline: none;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.table_button_icon {
  height: 45px;
  width: 260px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.table_add_board_icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  color: black;
  transform: rotate(45deg);
}
